@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";

}

@section Styles{
    <link rel="stylesheet" href="~/css/home.css" />
}
@section Header{
    <partial name="_Header" model="@Model.User" />
}
<div class="container-fuild banner">
    <img src="~/img/banner.png" alt="Banner" />
</div>

<!-- wrapper category -->
<div class="wrapper">
    <section class="container category">
        <h3 class="title">Experience Flavours</h3>
        @if (Model.Categories == null)
        {
            <p>Not found any categories</p>
        }
        else
        {
            <ul class="category__items noselect">
                @foreach (var category in Model.Categories)
                {
                    <li>
                        <a class="category__item" asp-controller="Cakes" asp-action="Index" asp-route-categoryids="@category.Id">
                            <img class="category__item-image"
                                 src="~/img/categories/@string.Concat(category.Name.Trim().ToLower(), ".jfif")"
                                 alt="@category.Name" />
                            <h6 class="category__item-name">@category.Name</h6>
                            <p class="category__item-description">@category.Description</p>
                        </a>
                    </li>
                }
            </ul>
        }
    </section>
</div>
<!-- end wrapper category-->
<!-- wrapper best seller -->
<section class="container-fluid best-seller-background">
    <div class="wrapper">
        <section class="container best-seller noselect">
            <!-- left arrow svg -->
            <svg class="best-seller__previous-arrow paging-arrow"
                 width="34"
                 height="35"
                 viewBox="0 0 34 35"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <circle cx="17"
                        cy="17.9402"
                        r="16.5"
                        transform="rotate(-180 17 17.9402)"
                        stroke="#848484" />
                <path d="M12.2387 16.935L18.8388 11.1495C19.1571 10.8704 19.6732 10.8704 19.9915 11.1495L20.7613 11.8242C21.079 12.1028 21.0797 12.5543 20.7626 12.8335L15.5319 17.4402L20.7626 22.0469C21.0797 22.3261 21.079 22.7776 20.7613 23.0561L19.9915 23.7309C19.6732 24.0099 19.1571 24.0099 18.8388 23.7309L12.2387 17.9454C11.9204 17.6664 11.9204 17.214 12.2387 16.935Z"
                      fill="#848484" />
            </svg>
            <!-- end left arrow svg -->
            <!-- right arrow svg -->
            <svg class="best-seller__next-arrow paging-arrow"
                 width="34"
                 height="34"
                 viewBox="0 0 34 34"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <circle cx="17" cy="17" r="16.5" stroke="#848484" />
                <path d="M21.7613 18.0052L15.1612 23.7907C14.8429 24.0698 14.3268 24.0698 14.0085 23.7907L13.2387 23.1159C12.921 22.8374 12.9203 22.3859 13.2374 22.1067L18.4681 17.5L13.2374 12.8933C12.9203 12.6141 12.921 12.1626 13.2387 11.8841L14.0085 11.2093C14.3268 10.9302 14.8429 10.9302 15.1612 11.2093L21.7613 16.9948C22.0796 17.2738 22.0796 17.7262 21.7613 18.0052Z"
                      fill="#848484" />
            </svg>
            <!-- end right arrow svg -->

            <h3 class="title">Best Seller</h3>
            <div class="slider">
                @if (Model.Cakes == null)
                {
                    <p>Not found any cakes</p>
                }
                else
                {

                    @for (var i = 0; i < Model.Cakes.Items.Count; i++)
                    {
                        <div class="best-seller__item slider__item">
                            <img class="best-seller__item-image"
                                 src="@Model.Cakes.Items[i].CakeImages.First().FileUrl"
                                 alt="cake image" />
                            <div class="best-seller__item-info">
                                <div>
                                    <h6 class="best-seller__item-info__name">
                                        <a asp-controller="Cakes" asp-action="Details" asp-route-id="1">Snicker Fuse Chocolate Cake</a>
                                    </h6>
                                    <p class="best-seller__item-info__description line-clamp-5">
                                        Award yourself with this rich chocolate cake wonderfully
                                        crammed with Cadbury Fuse and white chocolate chunks and
                                        draped lusciously with molten chocolate. This perfect work
                                        of art hides in every bite of chocolate that is a little
                                        nutty and a lot of tasty!
                                    </p>
                                </div>
                                <div>
                                    <div class="best-seller__item-info__price">350.000đ</div>
                                    <div class="best-seller__item-info__original-price">
                                        400.000đ
                                    </div>
                                </div>
                                <button class="btn btn--primary">Add to cart +</button>
                            </div>
                        </div>
                    }
                }
            </div>
            <ul class="paging"></ul>
        </section>
    </div>
</section>
<!-- end wrapper best seller-->
<!-- wrapper sweeties -->
<div class="wrapper noselect">
    <section class="container sweeties">
        <h3 class="title">Sweeties</h3>

        <div class="sweeties__items">
            @if (Model.Cakes == null)
            {
                <p>Not found any cakes</p>
            }
            else
            {
                @foreach (var cake in Model.Cakes.Items)
                {
                    <div class="sweeties__item">
                        <img src="@cake.CakeImages.First().FileUrl"
                             alt="@cake.CakeImages.First().Caption"
                             class="sweeties__item__img" />
                        <div class="sweeties__item__name line-clamp-2">
                            <a asp-controller="Cakes" asp-action="Details" asp-route-id="@cake.Id">@cake.Name</a>
                        </div>
                        <div class="sweeties__item__prices">
                            <div class="sweeties__item__price">@cake.Price.ToVND()</div>
                            @if (cake.Price < cake.OriginalPrice)
                            {
                                <div class="sweeties__item__original-price">@cake.OriginalPrice.ToVND()</div>
                            }
                        </div>
                        <button class="btn btn--secondary">Add to cart +</button>
                    </div>
                }
            }
        </div>

        <!-- Page number -->
        @if (Model.Cakes != null)
        {
            PageNumberModel pageModel = new PageNumberModel
            {
                Page = Model.Cakes.Page,
                PageCount = Model.Cakes.PageCount,
                Action = "Index",
                Controller = "Home",
                Keyword = Model.Cakes.Keyword
            };
            <partial name="_PageNumber" model="@pageModel" />
        }
    </section>
</div>
<!-- end wrapper sweeties -->