@model CakesViewModel
@{
    ViewData["Title"] = "Cakes";
}

@section Styles {
    <link rel="stylesheet" href="~/css/home.css">
}

<div class="separate"></div>
<!-- wrapper sweeties -->
<div class="wrapper  ">
    <section class="container sweeties">
        <h3 class="title">Cakes</h3>
        @if (Model.Categories != null)
        {
            <ul class="cakes__category">
                @foreach (var category in Model.Categories)
                {
                    <li>
                        <a asp-controller="Cakes" asp-action="Index" asp-route-categoryids="@category.Id">@category.Name</a>
                    </li>
                }
            </ul>
        }

        @if (Model.Cakes != null)
        {
            @if (!String.IsNullOrEmpty(Model.Cakes.Keyword))
            {
                <div style="align-self: flex-start; margin-bottom:20px; text-align:left;">
                    Search results for:
                    <b>@Model.Cakes.Keyword</b>
                </div>
            }
            @if (Model.Cakes.CategoryNames.Any(x => x.Contains("")))
            {
                <div style="align-self: flex-start; margin-bottom: 20px;">
                    Category:
                    @for (var i = 0; i < Model.Cakes.CategoryNames.Count; i++)
                    {
                        <b>@(Model.Cakes.CategoryNames[i])</b>
                        @if (i < Model.Cakes.CategoryNames.Count - 1)
                        {
                            <span>, </span>
                        }
                    }
                </div>
            }

            <div class="sweeties__items">
                @if (Model.Cakes.Items.IsSafe())
                {
                    @foreach (var cake in Model.Cakes.Items)
                    {
                        @await Component.InvokeAsync("Cake", cake);
                    }

                }
                else
                {
                    <p>Not found any cakes</p>
                }
            </div>

            <!-- Page number -->

            PageNumberModel pageModel = new PageNumberModel
            {
                Page = Model.Cakes.Page,
                PageCount = Model.Cakes.PageCount,
                Action = "Index",
                Controller = "Cakes",
                Keyword = Model.Cakes.Keyword
            };
            <partial name="_PageNumber" model="@pageModel" />
        }
        else
        {
            <p>Not found any cakes</p>
        }
    </section>
</div>
<!-- end wrapper sweeties -->